body {
  margin: 0px;
  padding: 0px;
}
#root {
  width: 100%;
  overflow: hidden;
}
.app {
  width: 100%;
}

.main {
  margin-left: 222px;
  background-image: url(../images/bg-mtn.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 100%;
  background-size: cover;

  font-family: "Heebo", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}
@media screen and (max-width: 480px) {
  .main {
    margin: 0px;
  }
}

.flex {
  display: flex;
}

.title-font {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 700;
}

h1 {
  font-weight: 100;
  margin: 0;
  font-size: 2rem;
}

.about-section {
  padding: 0 30px;
  font-weight: 400;
}

.about-section > p {
  font-family: "Kalam", cursive;

  font-size: 1.5rem;
  color: black;
}

.section-header {
  background-color: rgba(2, 109, 109, 0.856);
  width: 100%;
  color: white;
  text-transform: uppercase;
  margin-bottom: 60px;
  font-weight: 500;
  height: 100px;
  padding-left: 50px;
  display: flex;
  align-items: center;
}

.experience-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience-list {
  flex-shrink: 1;
  margin-left: 40px;
  margin-right: 40px;
  min-width: 500px;
  max-width: 1000px;

  /*  border: solid green 3px; */
}
.experience-card {
  padding: 15px;
  margin-bottom: 60px;
  width: 100%;
}

.card {
  box-shadow: 2px 2px 5px 3px rgb(128, 128, 128);
  border-radius: 2px;
  background-color: rgb(255, 255, 255, 0.7);
}

.exp-card-header {
  border-bottom: solid lightgray 1px;
  display: flex;
  align-items: center;
  height: 80px;
  display: flex;
  color: rgb(231, 115, 7);
  font-size: 1.5rem;
}

.company-icon {
  width: 125px;
  margin-right: 50px;
}

.position-title {
  margin-left: auto;
}

.exp-card-footer {
  border-top: solid lightgray 1px;
  padding-top: 15px;
}

blockquote {
  border-left: 5px solid #95733c;
  color: #95733c;
  font-size: 125%;

  margin: 20px 0;
  padding-left: 1.5rem;
}

#aboutHeader {
  margin-bottom: 0px;
}

h2 {
  margin-top: 15px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.project-card {
  flex-grow: 0;
  min-width: 450px;
  max-width: 450px;
  margin-bottom: 60px;
}

.project-image {
  height: 360px;
  width: 100%;
  max-width: 100%;
}
.image-container {
  display: flex;
  justify-content: center;
  background-color: gray;
}

.project-body {
  padding: 10px;

  border-top: solid lightgray 1px;
}

.project-title {
  font-size: 1.5rem;
  color: rgb(231, 115, 7);
}

.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-card {
  width: 80%;
  min-height: 220px;
  margin: 30px 60px;
  padding: 15px;
}

.skills-header {
  color: rgb(231, 115, 7);
  font-size: 1.5rem;
  border-bottom: solid lightgray 1px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.skills-icons-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

img.skills-icons {
  height: 90px;
}

.skills-body {
  margin-top: 15px;
}

.icon-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 200px;
  text-align: center;
}

.award-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.award-card {
  max-width: 80%;
  padding: 15px;
  margin-bottom: 30px;
}

.award-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: rgb(231, 115, 7);
  border-bottom: solid gray 1px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.award-body {
  display: flex;
}

.award-icon {
  margin-right: 15px;
  height: 81px;
}

#ab-award {
  height: 90px;
}

.education-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
}
.education-card {
  max-width: 80%;
  font-size: 1.5rem;
  min-width: 550px;
  padding: 15px;
  margin: 20px;
}

.degree-title {
  border-bottom: solid lightgray 1px;
  font-weight: bold;
  color: rgb(231, 115, 7);
  padding-top: 15px;
  padding-bottom: 15px;
}

.education-body {
  color: black;
  display: flex;
  align-items: center;
}

.school-icon {
  width: 80px;
  padding: 10px;
}

.university-text {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.university-text > p {
  margin: 0;
}

#roosevelt-text {
  margin-left: 10px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 200px;
}

.created-by {
  align-self: center;
  color: rgb(219, 232, 233);
  text-align: center;
  font-family: "Kalam", cursive;
}
.contact-icon {
  width: 60px;
  height: 60px;
  margin-right: 25px;
  display: flex;
}

.contact-item {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
